!!! 
%html
  %head
    %title today's twitter trends
    %link(rel="stylesheet" href="/css/style.css")

  %body
    - trend.each do |key, value|
      %a= key 
/     %a= value
/     - value.each do |tweet|
/       %a= tweet.name
/       %br
