!!! 
%html
  %head
    %title today's twitter trends
    %link(rel="stylesheet" href="/css/style.css")

  %body
    %h1 Trends in Deutschland
    %ul
      - trend.each do |key|
        %a(href="/#{key}")
          %li= "#{key}"
