!!! 
%html
  %head
    %title today's twitter trends
    %link(rel="stylesheet" href="/css/style.css")

  %body
    - trend.each do |key, value|
      %h1= key 
      - value.each do |tweet|
        %a= tweet
        %br
