!!! 
%html
  %head
    %title today's twitter trends
    %link(rel="stylesheet" href="/css/style.css")

  %body
    %h1 Trends in Deutschland
    - trend.each do |key|
      %a= key 
      %br
/     %a= value
/     - value.each do |tweet|
/       %a= tweet.name
