!!! 
%html
  %head
    %title today's twitter trends
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/style.css"}

  %body
    %a{:href => "https://github.com/t-p/twitter-trends"}
      %img{:id => "badge", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :alt => "Fork me on GitHub"}
    %h1 What's trend in Germany?
    .row
      %div{:id => "sidebar", :class => "span3"}
        %ul.round
          - trend.each do |key|
            %li
              %a{:href => "/search/#{key.query}"}
                ="#{key.name}"

      %div{:id => "content", :class => "span9"}
        = yield
      %div{:id => "footer", :class => "span12"}
