body {
  background: #FFF url(img/low_contrast_linen_@2X.png); }

h1 {
  text-align: center;
  color: #CCC;
  font-size: 2.1em;
  margin: 30px auto; }

.row {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

/* Round corners */
.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 

  background: #e3e3e3;
  background: -moz-linear-gradient(top, #ccc, #999);
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));

  -moz-box-shadow: 1px 1px 3px #333;
  -webkit-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333; }

#badge {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0; }

/* Sidebar */
#sidebar {
  float: left;
  margin: 10px 25px 0 0; }

#sidebar ul {
  display: block;
  padding-left: 0;
  text-shadow: 0 1px 0 white;
  list-style: none; }

#sidebar li {
  padding: 4px 10px; }

#sidebar ul a {
  display: block;
  overflow: hidden;
  padding: 10px 0 10px 5px;
  color: #454545;
  font-size: 1.1em;
  text-decoration: none; } 

#sidebar ul a:hover {
  display: block;
  padding: 10px 0 10px 5px;
  list-style-type: none;
  color: #ddd;
  text-shadow: 0 1px 0 black;
  background: #555;
  background: -moz-linear-gradient(top, #444, #555);
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#555)); }

/* Content */
#content {
  margin: 10px auto 0 auto; }

#content ul {
  float: left;
  padding-left: 0;
  list-style: none; }

#content li {
  height: 65px; padding: 8px 10px 3px 10px;
  border-bottom: dotted 1px #454545;
  margin: 0 10px;
  color: #454545;
  font-size: 1.1em; } 

#content img {
  padding: 5px 10px 3px 0;
  float:left; }

#content p {
  height: 55px;
  margin-bottom: 5px; }

#content h2 {
  height: 510px;
  padding: 25px 80px;
  color: #454545; }

#content a.external {
  color: #333;
  text-decoration: none;
  background:url(img/external.png) 99% 40% no-repeat; 
  padding-right: 15px; }

#content a:hover {
  color: #333;
  text-decoration: underline; }

/* Footer */
#footer p {
  padding-left: 250px; 
  color: #CCC; }

#footer a {
  color: #CCC;
  text-decoration: none; }
